/*-----------------------------------------------------------------*/
/* Basic Setup */
/*-----------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: rgba(243, 242, 242, 0.808);
    font-family: 'Montserrat', 'Arial', 'sans-serif';
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

a:link,
a:visited {
    text-decoration: none;
    font-family: 'Montserrat', 'Arial', 'sans-serif';
    text-transform: uppercase;
    color: rgba(243, 242, 242, 0.808);
    font-weight: 300;
    transition: border-bottom 0.9s, color 0.5s;
    border-bottom: 1px solid transparent;
    padding: .5rem 0 .5rem 0;
}


a:hover,
a:active {
    border-bottom: 1px solid rgba(255, 255, 255, 0.808);
    color: rgb(255, 255, 255);
}

p,
h2,
h3 {
    color: black;
    font-family: 'Montserrat', 'Arial', 'sans-serif';
}

ion-icon {
    color: black;
    font-family: 'Montserrat', 'Arial', 'sans-serif';
}

img {
    background-size: 20px 20px;
}

/*-----------------------------------------------------------------*/
/* Reusable Components */
/*-----------------------------------------------------------------*/

.row {
    max-width: 1140px;
    margin: 0 auto;
}

/*-----------------------------------------------------------------*/
/* Headings */
/*-----------------------------------------------------------------*/

h1 {
    margin: 0;
    color: rgb(252, 252, 252);
    font-size: 3rem;
    font-weight: 380;
    text-transform: uppercase;
    letter-spacing: .3rem;
    word-spacing: .7rem;

}

/*-----------------------------------------------------------------*/
/* Button Components */
/*-----------------------------------------------------------------*/


.btn:link,
.btn:visited {
    display: inline-block;
    padding: .3rem 1.5rem;
    font-weight: 400;
    text-decoration: none;
    border: 1px solid white;
    margin: 2rem 0;
    transition: background-color 0.5s, border 0.5s, color 0.5s;
    background-color: #bdc3c7;
    border-radius: 20rem;
    color: rgb(32, 31, 31);
    margin-right: 2rem;
}

.btn:hover,
.btn:active {
    background-color: rgb(32, 31, 31);
    color: rgb(252, 252, 252);
    border: 1px solid #bdc3c7;
}

/*-----------------------------------------------------------------*/
/* Header */
/*-----------------------------------------------------------------*/

header {
    background-image: linear-gradient(rgb(22, 21, 21), rgba(104, 101, 101, 0.349)), url(img/backgroundBlack.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    font-size: 200%;
    width: auto;
    float: left;
    font-family: 'Montserrat', 'Arial', 'sans-serif';
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 1.5rem;


}


.main-nav {
    float: right;
    list-style: none;
    margin-top: 2rem;
}

.main-nav li {
    display: inline-block;
    margin: 0 0 0 3rem;
}